{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--featured products-->
<div class="small-container">
    <h2 class="title">All Collections</h2>
    <div class="rows">
        {% for prod in product %}
        <div class="column-4">
        
            <a href="{% url 'add-to-cart' prod.id %}"><img src="{{prod.image.url}}" alt=""></a>
            <p class="description">{{prod.name_prod}}</p>
            <div class="rating"" style="color:gray ;">
                <i class="fa fa-star-o" style="color:gray ;" ></i>
                <i class="fa fa-star-o" style="color:gray ;"></i>
                <i class="fa fa-star-o" style="color:gray ;"></i>
                <i class="fa fa-star-o" style="color:gray ;"></i>
                <i class="fa fa-star-o" style="color:gray ;"></i>
                0.0
                (0 Reviews)
            </div>
            <span><b>₱{{prod.price}}</b></span>
            <span style="text-decoration:line-through;">{{prod.discount_price}}</span>
       
        </div>
        {% endfor %}
        
    
    </div>

</div>

{% endblock content %}