{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--featured products-->
<div class="small-container">
    <h2 class="title">All Collections</h2>
    <div class="row">
        <div class="col-4">
            <img src="{% static 'images/product1.jpg' %}" alt="">
            <p class="description">Menthol Plus 100% Original Authentic Depot Philippines</p>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o" ></i>
                <i class="fa fa-star-o" ></i>
            </div>
            <span>P 250.00</span>
            <span style="text-decoration:line-through;">p 250.00</span>

        </div>
        <div class="col-4">
            <img src="{% static 'images/product 2.jpg' %}" alt="">
            <p class="description">Menthol Plus 100% Original Authentic Depot Philippines</p>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o" ></i>
                <i class="fa fa-star-o" ></i>
            </div>
            <span>P 250.00</span>
            <span style="text-decoration:line-through;">p 250.00</span>

        </div>
        <div class="col-4">
            <img src="{% static 'images/product3.jpg' %}" alt="">
            <p class="description">Menthol Plus 100% Original Authentic Depot Philippines</p>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o" ></i>
                <i class="fa fa-star-o" ></i>
            </div>
            <span>P 250.00</span>
            <span style="text-decoration:line-through;">p 250.00</span>

        </div>
        <div class="col-4">
            <img src="{% static 'images/product4.jpg' %}" alt="">
            <p class="description">Menthol Plus 100% Original Authentic Depot Philippines</p>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o" ></i>
                <i class="fa fa-star-o" ></i>
            </div>
            <span>P 250.00</span>
            <span style="text-decoration:line-through;">p 250.00</span>

        </div>
    </div>

</div>

{% endblock content %}