{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .flex-container {
        display: flex;
        flex-direction: row;
        font-size: 20px;
    }
    .item-left h1{
        font-size: 40px;
    }
    .item-left {
        padding: 20px;
        flex: 50%;
    }
    .item-right img {
        height: auto;
        padding: 70px;
        flex: 50%;
        width: 100%;
        max-width: 100%;
        transition: transform .4s
    }
    .item-right img:hover{
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.1); 
       
    }
    @media (max-width: 800px) {
    .flex-container {
        flex-direction: column;

    }
    .item-right{
        width: 100%;
        max-width: 100%;

    }

    }
    @media (max-width: 1000px) {
    .flex-container {
        flex-direction: column;

    }
    .item-right{
        width: 100%;

    }
    }
    .btns {
        box-sizing: border-box;
        -webkit-appearance: none;
            -moz-appearance: none;
                appearance: none;
        background-color: transparent;
        border: 2px solid #e74c3c;
        border-radius: 0.6em;
        color: #e74c3c;
        cursor: pointer;
        display: flex;
        align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin: 20px;
        padding: 1.2em 2.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        }
        .btns:hover, .btns:focus {
        color: #fff;
        outline: 0;
        }

        .first {
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        }
        .first:hover {
        box-shadow: 0 0 40px 40px #e74c3c inset;
        }

</style>
<div class="">
    <div class="column-2">
   
        <img class="banner" src="{% static 'images/prod/banner2.jpg' %}" width="100%" height='auto' >
    </div>
</div>
</div>
<!--Categories-->
<div class="flex-container">
    <div class="item-left">
        <h1 style="font-size: 50px ; font-weight:550; ">NEW FLAVORS </h1>
        <br>
        <h1 style="color: red; font-size: 50px ; font-weight:550;">NOW AVAILABLE!!</h1>
        {% for products in product %}
        {% if products.select == "new_product" %}
        <div class= "column-3">
            <a href="{% url 'add-to-cart' products.id %}"><img src="{{products.imageURL}}" alt="" ></a>

            <a href="{% url 'add-to-cart' products.id %}" style="color: black; " class="text-link">{{products.name_prod}}</a>

            <div class="price">
                <p><b>₱{{products.price}}</b></p>
                <p style="text-decoration: line-through; color: gray;font-weight: 100; ">{{products.discount_price}}</p>
                
                
                <a><button  class="btns first update-cart" data-action="add" data-product="{{products.id}}" type="submit" id="cart-icon">ADD TO <br>CART</button></a>
            </div>
            
            <script>
                document.querySelectorAll('.button').forEach(button => button.addEventListener('click', e => {
    if(!button.classList.contains('loading')) {

        button.classList.add('loading');

        setTimeout(() => button.classList.remove('loading'), 3700);

    }
    e.preventDefault();
}));
            </script>
       
        </div>
        {% endif %}
        {% endfor %}
    
        
    </div>  
    <div class="item-right">
        <img src="{% static 'images/banner.jpg'%}" alt="" width="350px" height="400">
    </div>
</div>
<!-- <div class="container-categories">
    <div class="categories">
        <div class="row">
            <div class="columns">
              
   
            </div>
        </div>
     

    </div>
</div> -->
<div class="shop-category">
    <div class="rows">
        <div class="shop-columns">
            <h2>DEVICES</h2>
        </div>
        <div class="shop-columns">
            <h2 class="shop-text" style="font-size:30px ; text-align:center; color: black; font-weight: lighter; margin-top: 20px; padding-top: 20px; padding-left: 55px;  position: absolute;">Wiffbar Flavors</h2>
            <img src="{% static 'images/pngvape.png'%}" alt="">
            <a href="{% url 'collection' %}" style="text-decoration:none ;"><p style="text-align: center; margin-top:-50px; color: red">View More &#8594;</p></a>
        </div>
    </div>

</div>
<!---OFFER-->
<div class="offer">
    <div class="small-container">
        <div class="rows">
            <div class="column-2">
                {% for prod in product %}
                {% if prod.select == "exclusive" %}
                <a href="{% url 'add-to-cart' prod.id %}">
                    <img src="{{prod.image.url}}" class="offer-img">
                </a>
            </div>
            <div class="column-2">
                <p>Exclusively Available on Wiffbar</p>
                <br>

                <h1>{{prod.name_prod}}</h1>
                <small></small>
                <br>
        
                <a href="{% url 'cart' %}" style="text-decoration:none ;"><button class="btns first update-cart" data-action="add" data-product="{{prod.id}}" id="cart-icon">Buy Now &#8594;</button></a>
                <script>
                    function myFunction(){
                        alert("Add to Cart Succesfully!");
                        window.location.reload(true);
                    }
                </script>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>
<div class="products">
    <h2>CHECK OUR BEST PRODUCTS</h2>
    <div class="rows">
        {% for prod in product %}
        {% if prod.select == "display" %}
        <div class="column-5">
            <a href="{% url 'add-to-cart' prod.id %}"><img src="{{prod.imageURL}}" alt=""></a>
            <p>{{prod.name_prod}}</p>
            <center>
                <span><strong>₱{{prod.price}}</strong></span>
                <span style="text-decoration:line-through;">{{prod.discount_price}}</span>
            </center>

        </div>
        {% endif %}
        {% endfor %}
    </div>
    <center>    
        <a href="{% url 'collection' %}" style="text-decoration: none;"><button type="submit" class="btns first">View More</button></a>
    </center>
</div>
<div class="benefits">
    <center><h2>WHAT ARE THE BENEFITS</h2></center>
    <div class="rows">
        <div class="column-6">
            <h1 style="font-size: 100px ;">1</h1>
            <h3>SIMPLICITY</h3>
            <p>A lightweight, compact and easy to use device.</p>
            <p>E-liquids are in ready-to-use, pre-filled and</p>
            <p>sealed with a wide variety of flavors to choose</p>
        </div>
        <div class="column-6">
            <h1 style="font-size: 100px ;">2</h1>
            <h3>SECURITY</h3>
            <p>All our e-liquids and devices are made from</p>
            <p>high quality materials in compliance with</p>
            <p>world safety regulations and standards to let</p>
        </div>
        <div class="column-6">
            <h1 style="font-size: 100px ;">3</h1>
            <h3>LIBERTY</h3>
            <p>All our Wiffbar Products are available in the</p>
            <p>Philippines and everywhere else in the world</p>
            <p>so you'll always be sure to find your e-cig Pods</p>
        </div>
    </div>
</div>



{% endblock content %}