
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta lang="en" /><link rel="canonical"  />
<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<link href='//ueeshop.ly200-cdn.com/static/v0/ueeshop/v5.0381/themes/t161/css/font.css' rel='stylesheet' type='text/css' rel="preload" as="style" />
<link href='//ueeshop.ly200-cdn.com/static/v0/ueeshop/v5.0381/css/global.css' rel='stylesheet' type='text/css'  />
<link href='//ueeshop.ly200-cdn.com/static/v0/ueeshop/v5.0381/static/font/global/iconfont.css' rel='stylesheet' type='text/css'  />
<link href='//ueeshop.ly200-cdn.com/static/v0/ueeshop/v5.0381/themes/default/css/global.css' rel='stylesheet' type='text/css'  />
<link href='//ueeshop.ly200-cdn.com/static/v0/ueeshop/v5.0381/themes/default/css/user.css' rel='stylesheet' type='text/css'  />
<link href='//ueeshop.ly200-cdn.com/static/v0/ueeshop/v5.0381/themes/default/css/effect.css' rel='stylesheet' type='text/css'  />
<link href='//ueeshop.ly200-cdn.com/static/v0/ueeshop/v5.0381/themes/t161/css/style.css' rel='stylesheet' type='text/css'  />
<script type='text/javascript' src='//ueeshop.ly200-cdn.com/static/v0/ueeshop/v5.0381/js/jquery-1.7.2.min.js' ></script>
<script type='text/javascript' src='//ueeshop.ly200-cdn.com/static/v0/ueeshop/v5.0381/js/plugin/lazysizes/jquery.lazysizes.js' ></script>
<script type='text/javascript' src='//ueeshop.ly200-cdn.com/static/v0/ueeshop/v5.0381/js/global.min.js' ></script>
<script type='text/javascript' src='//ueeshop.ly200-cdn.com/static/v0/ueeshop/v5.0381/themes/default/js/global.min.js' ></script>
<script type='text/javascript' src='//ueeshop.ly200-cdn.com/static/v0/ueeshop/v5.0381/themes/default/js/user.min.js' ></script>
<script type='text/javascript' src='//ueeshop.ly200-cdn.com/static/v0/ueeshop/v5.0381/themes/t161/js/main.js' ></script>
<style type="text/css">




.clean {
	margin-top: -30px;
}
.title {
	margin-top: 20px;
}

.ly_cf_item a:before,.ly_ct_item a:before{background-color: #fff;}


@media screen and (max-width:1000px){
	.default_foot_menu_style .menu_list dl::after ,
	.ly_ft_fu::after,
	.ly_ft_content::after {background-color: var(--ThemesFooterLineColor);}
}


@media screen and (min-width:1000px) {
	.ly_product_second .view:hover,.ly_product_first .view:hover{background-color:transparent;color:#000;}
}
.info{
	margin-top: 20px;
}
</style>
</head>
<style>
	.icon {
		display: flex;
		margin:40px auto;
		align-items: center;
		justify-content: center;
		padding: 0;
		width: 50%;
	}
</style>
<body>
	{% load static %}
	<div class="icon"><a href="{% url 'home' %}"><img src="{% static 'images/vapelogo.png' %}" alt="" width="250"></a></div>
<div id="customer" class="clean">
    <div id="signup" class="fl">
		<div class="top_tab">
	<h3 class="title">Log in</h3>

    <p style="font-size:15px; margin-bottom:10px; color:gray;">Access your account & orders history</p>
</div>
<div class="content clean">
	<form class="register fl" method="POST">
		{% csrf_token %}
		<div id="error_register_box" class="error_note_box"></div>
		<div class="row clean">
			<div class="input_box">
				<label for="username">Username<i>*</i></label>
				<input name="username" id="Email" style="padding: 20px;" class="input_box_txt" type="text"  placeholder="username..." required />
			
			</div>
		</div>
		<div class="row clean">
			<div class="input_box">
				<label for="Password">Password<i>*</i></label>
				<input name="password" id="Password" style="padding: 20px;" class="input_box_txt" type="password" placeholder="**********"  required/>
			</div>
		</div>

		<div class="row mb0">
			<button class="btn_signup form_button_bg FontBgColor FontBorderColor" type="submit">Login</button>
		</div>
		<input type="hidden" name="jumpUrl" value="" />
		<input type="hidden" name="do_action" value="user.register" />
						</form>
</div>
		        <div class="blank30"></div>
    </div>
	<div class="info fr">
			<div class="box member">
							<p class="tit">Use Your Account from</p>
					</div>
		<div class="return">
		<a href="{% url 'home' %}" class="home">Return to the home page</a>
	</div>
</div>    <div class="hide">
		<div class="footer">
        <div class="copyright">Copyright © 2005-2015 MySite Ltd. All Rights Reserved. &nbsp;&nbsp;&nbsp;&nbsp; POWERED BY UEESHOP</div>
</div>
<div align="center">
	<div id="chat_window">
    <div class="chat_box">
        <div id="chat_box"></div>
        <div class="menu">
            <a href="javascript:;" id="go_top" class="top"></a>
        </div>
    </div>
</div>

</div>
</body>
<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
    
	{% for msg in messages %}
        alertify.set('notifier','position', 'top-center');
		{% if msg.tags == "success"%}
			alertify.success('{{msg}}')
		{% elif msg.tags == "warning" %}
			alertify.error('{{msg}}')
		{% elif msg.tags == "error" %}
			alertify.error('{{msg}}')
		{% elif msg.tags == "info" %}
			alertify.notify('{{msg}}')
		{% endif %}
		
	

   	{% endfor %}
</script>
